<h3>Edit List Name</h3>
<form method="POST" action="/lists/<%=@list.id%>">
  <label for="list_name">List Name:</label>
<input type="text" name="name" id="list_name" value="<%= @list.name %>"><br><br>
   <input type="submit"  class="btn btn-primary" value="Update">
</form>
