<section class="jumbotron">
  <h3>Edit <%= @list.name %></h3>

<form method="POST" action="/lists/<%=@list.id%>">
  <label>List Name:</label>
<input type="text" name="list[name]" value="<%= @list.name %>"><br><br>
   <input type="submit"  class="btn btn-primary" value="Update">
</form>
</section>
