
<section class="jumbotron">
        <div class="container">
        <% @lists.each do |list| %>
          <%= list.name %>

          <a href="/lists/<%=list.id%>/edit" class="badge badge-warning">Edit</a>
          <br />
          <br />
        <!--<h3>Your Lists</h3><a href="/lists/<%=list.id%>"><%=list.name%></a>
        </li>-->
  <%end%>
</div>
     </section>
