<h3>Your Lists</h3>
<br>
  <% @lists.each do |list| %>
<li>
<%=list.name%>
</li>
  <%end%>
<br>
  <form method="GET" action="lists/new">
    <input type="submit" class="btn btn-primary" value="Add New List">
  </form><br>
