<h1>Welcome, <%=current_user.username %></h1>
<h2>Your Lists</h2>
  <% @lists.each do |list| %>
<h3>
<%=list.name%>
</h3>
  <%end%>

  <form method="GET" action="lists/new">
    <input type="submit" value="Add New List">
  </form><br>
