<h3>Create New List</h3>
<form method="POST" action="/lists">
  <label for="list_name">List Name:</label>
<input type="text" name="name" id="list_name"><br><br>
   <input type="submit"  class="btn btn-primary" value="Create List">
</form>
