<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<section class="jumbotron">
        <div class="container">
          <h2 class="jumbotron-heading"> List Name: <u><%= @list.name %></u> </h2>

</br>


<ul class="list-group">
 <% @list.items.each do |item| %>
   <li class="list-group-item"><%= item.name %>
   </li>
 <% end%>
 </ul>
<br>
 <a href ='/lists/<%=@list.id%>/edit' class='btn btn-primary btn-sm' role="button">Edit List</a>

 </div>
</section>
