
<h1><%=@list.name%></h1>
<h4>Items:</h4>
<ul>
  <%@list.items.each do |item|%>
  <li><%=item.name%></li>
  <%end%>
</ul>

<form method="GET" action="/items/new">
  <input type="submit" value="Add Items">
</form><br>

<form method="GET" action="/lists">
  <input type="submit" value="View All Lists">
</form><br>
