<%= @list.name %><br />


<ul>
 <% @list.items.each do |item| %>
   <li><a href="/items/<%=item.id%>"><%= item.name %></a></li>
 <% end%>
 </ul>
 <br />
 <a href ='/items/new' class='btn btn-default'>Add Items</a>
 <a href ='/items/new' class='btn btn-default'>Dashboard</a>
