<h1>Welcome to Sinatra Shopping List</h1>
<h3>Log In</h3></br>
<form method="POST" action="/login">
 <input type="text"  name="username" placeholder="Username:">
<input type="password" name="password" placeholder="Password:"></br></br>
  <input type="submit" value="Log In">
</form>
