<h1>Welcome to Sinatra Shopping List</h1>
<h2>Create an Account:</h2>
<form method="post" action="/new">
Username:  <input type="text" id="username" name="username">
Password: <input type="text" id="password" name="password">
  <input type="submit" value="submit">
</form>
