<% unless locals.empty? %>
  <%= message %>
<% end %>


<h3>Sign Up</h3>
<form method="POST" action="/signup">
<p> Username:  <input type="text" name="username" ></p>
  <p> Password: <input type="password" name="password"></p>
   <input type="submit"  class="btn btn-primary" value="Sign Up" id="submit">
</form>
