<section class="jumbotron">

<h3>Sign Up</h3>
<form method="POST" action="/signup">
  <div class="form-group">
<label>Username</label>  <input type="text" name="username">
</div>
<div class="form-group">
<label>Password</label> <input type="password" name="password">
</div>
   <input type="submit"  class="btn btn-primary" value="Sign Up">
</form>
</section>
