<h3>Create New Item</h3>
<form method="POST" action="/items">
  <label for="item_name">Item Name:</label>
<input type="text" name="name" id="item_name"><br><br>
<label>Select List:</label>
<%List.all.each do |list|%><br>
<input type="checkbox" name="list_id" id="<%=list.name %>"
  value="<%=list.id%>"> <b><%=list.name%><b></input>
 <%end%> <br></br>
   <input type="submit"  class="btn btn-primary" value="Create Item">
</form>
