
<section class="jumbotron">

          <div class="container">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1><%=@item.name%></h1>
<a href="/items/<%=@item.id%>/edit"  class="btn btn-primary">Edit</a>

<form class="" action="/items/<%=@item.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete This Item">
</form>
</div>
</section>
