<h1> <%= @item.name %> </h1>

<button class="btn btn-default"><a href="<%= @item.id %>/edit">Edit Item</a></button>
</br></br>
<form action="/items/<%=@item.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" class="btn btn-danger" value="Delete Item">
</form>
