
<section class="jumbotron">

          <div class="container">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1><%=@item.name%></h1>
<a href="/items/<%=@item.id%>/edit"  class="btn btn-primary" style="float:left">Edit</a>

<form class="" action="/items/<%=@item.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name=""class="btn btn-danger" style="margin-left:10px" value="Delete Item">
</form>
</div>
</section>
