<h1>Create a Category</h1>

<form action="/categories" method="post">
  <div class="form-group">
    <label for="name">Category Name </label>
     <input type="text" class="form-control" id="name">
     </div>
     <button type="submit" class="btn btn-primary">Create Category </button>
</form>
