<section class="jumbotron text-center">
  <h2 class="jumbotron-heading">Sinatra Shopping Lists</h2>
<p class="lead">Create custom shopping lists for your needs.</p>
<a href="/lists/new" class="btn btn-primary" role="button">Create a List</a>

</section>
