<section class="jumbotron text-center">
  <h2 class="jumbotron-heading">Sinatra Shopping Lists</h2>
<p class="lead">Create and share custom shopping lists for your needs.</p>
<p><a href ='/lists/new' class='btn btn-primary' role="button">Create List</a>
<a href ='/items/new' class='btn btn-primary' role="button">Create Item</a>
</p>
</section>
