<!DOCTYPE html>
<html>
<head>
     <title>Sinatra Shopping List Application</title>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
  <header class="header clearfix">

<nav>
  <% if logged_in? %>
  <h5 class="float-left">Welcome, <%=current_user.username %></h5>
<div class="float-right">
  <a class="nav-link" href="/lists">View Lists</a>
  <a class="nav-link" href="/lists/new">Create New List</a>
  <a class="nav-link" href="/logout">Log Out</a>
</div>
<% else %>
  <a class="nav-link" href="/signup">Sign Up</a>
  <a class="nav-link" href="/login">Log In</a>
<% end %>
      </nav>
    </header>
  </div>
<div class="container">

<%= yield %>
</div>
</body>
</html>
